@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Stint+Ultra+Condensed&display=swap');
@mixin phone {
    @media screen and(max-width: 550px) {
        @content
    }
}

;
@mixin tablet {
    @media screen and(max-width: 800px) {
        @content
    }
}

;
@mixin desktop {
    @media screen and(max-width: 1200px) {
        @content
    }
}

body {
    margin: 2rem auto;
    padding: 0;
    font-family: 'Righteous', 'Stint Ultra Condensed';
    box-sizing: border-box;
    width: 85%;
    background: rgb(238, 238, 238);
    @include phone {
        margin: 1rem auto;
    }
}

#header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    @include phone {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .logo {
        width: 30%;
        height: auto;
        @include tablet {
            width: 45%;
        }
    }
    .scoreboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        margin: 1rem auto;
        font-family: 'Stint Ultra Condensed';
        h1 {
            margin: 10px;
            font-size: 2rem;
            &:first-child {
                color: #90F343;
            }
            @include tablet {
                font-size: 1.5rem;
            }
            @include phone {
                font-size: 1rem;
                margin: 0 10px;
            }
        }
    }
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
    background: rgb(56, 56, 56);
    border-radius: 10px;
}

.card {
    flex: 6.5% 0 1;
    height: 7vw;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0.3vw;
    background: rgb(255, 255, 255);
    cursor: pointer;
    @include desktop {
        flex: 7.5% 0 1;
    }
    @include tablet {
        flex: 8% 0 1;
    }
    @include phone {
        flex: 15% 0 1;
        height: 12vw;
        margin: 0.5vw;
    }
    img {
        position: absolute;
        z-index: 1;
        max-width: 80%;
        top: 15%;
        @include desktop {
            top: 10%;
        }
    }
    p {
        font-size: 2vw;
        display: block;
        align-self: center;
        z-index: 2;
        @include desktop {
            font-size: 3vw;
        }
        @include phone() {
            font-size: 5vw;
        }
    }
}

.back {
    background: url('../img/card-graphy.png');
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.paired {
    background: rgb(141, 141, 141);
    background-size: cover;
    filter: grayscale(50%);
    opacity: 0.5;
}

.wrong {
    animation-name: wrongAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

@keyframes wrongAnimation {
    to {
        opacity: 0.5;
    }
}

.completed {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    text-align: center;
    padding: 3rem;
    padding-bottom: 10rem;
    background-color: #90F343;
    @include tablet {
        padding-bottom: 4rem;
    }
    h1 {
        color: rgb(255, 255, 255);
        font-size: 8rem;
        margin: 0;
        @include tablet {
            font-size: 5rem;
        }
        @include phone {
            font-size: 3rem;
        }
    }
    p {
        font-family: 'Stint Ultra Condensed';
        font-weight: 700;
        font-size: 2rem;
        margin: 0;
    }
    button {
        background-color: #ffffff;
        font-family: "Righteous";
        font-size: 1rem;
        margin: 1rem;
        border: 0;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
    }
}